services:
  backend:
    build: ./rust-backend
    ports:
      - "8000:8000"
    # volumes:
    #   - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:8000
